{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
        <div class="row">
            <div class="col-6 text-right">
                <h1>

                    {{'NRO Boleta'}}
                    
                    {{boleta.nro_boleta }}
                
                    de 
                    
                    {{boleta.cliente.usuario.first_name}}
                    {{boleta.cliente.usuario.last_name}}

                </h1>
            </div>
            <div class="col-6">
              <div class="btn-group">
                <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Anulado' %}" class="btn btn-sm btn-danger">Anular</a>
                <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Vendido' %}" class="btn btn-sm btn-success">Vender</a>
                <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Despachado' %}" class="btn btn-sm btn-primary">Despachar</a>
                <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Entregado' %}" class="btn btn-sm btn-secondary">Entregar</a>
            </div>
                <table class="mb-3" style="float: right">
                    <tr>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/vendido.png' %}" style="width: 75px;">
                        </td>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/despachado.png' %}" style="width: 75px;">
                        </td>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/entregado.png' %}" style="width: 75px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_fec_estado_boleta"> 
                            Vendido <br> 
                            {{boleta.fecha_venta|formatear_fecha}}
                        <td class="td_fec_estado_boleta"> 
                            Despachado <br> 
                            {{boleta.fecha_despacho|formatear_fecha}}
                        <td class="td_fec_estado_boleta"> 
                            Entregado <br> 
                            {{boleta.fecha_entrega|formatear_fecha}}
                    </tr>
                </table>
            </div>
        </div>

        
      {%if boleta=='Entregado'%}
         <td> {{item.bodega.producto.categoria.nombre}}</td>
         <td>{{item.bodega.producto.nombre}}</td>
         <td>{{item.precio|formatear_dinero}}</td>
         <td>{{item.descuento_subscriptor|formatear_porcentaje}}</td>
         <td>{{item.descuento_oferta|formatear_porcentaje}}</td>
         <td>{{item.descuento_total|formatear_porcentaje}}</td>
         <td>{{item.descuentos|formatear_dinero}}</td>
         <td>{{item.precio_a_pagar|formatear_dinero}}</td>  
         <td>{{boleta.monto_sin_iva|formatear_dinero}}</td>
         <td>{{boleta.iva|formatear_dinero}}</td>
         <td>{{boleta.total_a_pagar|formatear_dinero}}</td>

  {% else %}

        <h1> No se puede mostrar la boleta </h1>

  {% endif %}       
{% endblock content %}