{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Concursa por un poster de estos actores</h1>
            <br><br><br>
        </div>

        <div class="container-fluid">
            <div id="recuadro-de-ropa" class="row">
            </div>
        </div>
    </div>
{% block script %}
    <script src="{% static 'core/js/libros.js' %}"></script>
{% endblock script %}

{% endblock content %}