{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  <form id="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}


    <form id="form-producto" name="form-producto" class="row g-3" novalidate>

      <div class="col-md-6">

        <div class="mb-3">

          <label for="idProducto" class="form-label">ID de Producto</label>

          <input type="number" class="form-control form-control-sm" id="idProducto" name="idProducto">

        </div>

        <div class="mb-3">

          <label for="categoria" class="form-label">Categoría</label>

          <select id="categoria" name="categoria" class="form-select" aria-label="Selecciona la categoría">

            <option selected value="" >Selecciona la categoría</option>

            <option value="1">Top</option>

            <option value="2">Bottom</option>

            <option value="3">Calzado</option>

          </select>

        </div>

        <div class="mb-3">

          <label for="nombre" class="form-label">Nombre</label>

          <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombreHelp">

          <div id="nombreHelp" class="form-text"></div>

        </div>

        <div class="mb-3">

          <label for="precio" class="form-label">Precio</label>

          <input type="number" class="form-control" id="precio" name="precio" aria-describedby="precioHelp">

        </div>

        <div class="mb-3">

          <label for="descuentoSub" class="form-label">Descuento Subscriptor</label>

          <input type="number" class="form-control" id="descuentoSub" name="descuentoSub" aria-describedby="descuentohelp">

          <div id="descuentoHelp" class="form-text"></div>

        </div>

        <div class="mb-3">

         <label for="descuento" class="form-label">Descuento Oferta</label>

         <input type="number" class="form-control" id="descuento" name="descuento" aria-describedby="descuentohelp">

         <div id="descuentoHelp" class="form-text"></div>

        </div>

        <div class="mb-3">

         <label for="descripcion" class="form-label">Descripción del producto</label>

         <textarea

          required placeholder class="form-control"

          rows="3"id="descripcion"Name="descripcion"aria-describedby="descripcionHelp"

         ></textarea>

         <div id="direccionHelp" class="form-text">

         </div>

        </div>

  

      </div>

      <!-- Botones -->

      <div class="col-12">

        <button type="submit" id="btnGuardar" class="btn btn-primary">Nuevo</button>

        <button class="btn btn-success">Agregar</button>

        <button type="reset" id="btnLimpiar" class="btn btn-secondary">Eliminar</button>

      </div>

      <p id="mensajeError"></p>

    </form>



  <br><br>

  <table class="table">

    <thead>

      <tr>

        <th>ID</th>

        <th>{{form.categoria|as_bootstrap_field}}</th>

        <th>{{form.nombre|as_bootstrap_field}}</th>

        <th>{{form.descripcion|as_bootstrap_field}}</th>

        <th>{{form.precio|as_bootstrap_field}}</th>

        <th>{{form.descuento_subscriptor|as_bootstrap_field}}</th>

        <th>{{form.descuento_oferta|as_bootstrap_field}}</th>

      </tr>

    </thead>

    <tbody>

      <tr>

        <td>1</td>

        <td>Top</td>

        <td>Camisa</td>

        <td>Camisa Rosada</td>

        <td>$ 10.000</td>

        <td>15%</td>

        <td>0%</td>

      </tr>

      <tr>

        <td>2</td>

        <td>Top</td>

        <td>Chaleco</td>

        <td>Chaleco Rojo</td>

        <td>$ 10.000</td>

        <td>15%</td>

        <td>10%</td>

      </tr>

      <tr>

        <td>3</td>

        <td>Accesorios</td>

        <td>Zapatos</td>

        <td>Zapatos Gucci</td>

        <td>$ 15.000</td>

        <td>15%</td>

        <td>20%</td>

      </tr>

      <tr>

        <td>4</td>

        <td>Accesorios</td>

        <td>Gafas</td>

        <td>Gafas de sol</td>

        <td>$ 5.000</td>

        <td>15%</td>

        <td>5%</td>

      </tr>

      <tr>

        <td>5</td>

        <td>Bottom</td>

        <td>Falda</td>

        <td>Falda Negra</td>

        <td>$ 9.000</td>

        <td>15%</td>

        <td>35%</td>

      </tr>

      <tr>

        <td>6</td>

        <td>Bottom</td>

        <td>Pantalón</td>

        <td>Pantalón cargo</td>

        <td>$ 16.000</td>

        <td>15%</td>

        <td>10%</td>

      </tr>

    </tbody>

  </table>



    <!-- AREA DE CUADRO DE IMAGEN: Imagen del producto (VER COMENTARIO "CUADRO DE IMAGEN" en script.js) -->
    {% if form.imagen.value %}
      <img id="cuadro-imagen" src="/media/{{ form.imagen.value }}">
    {% else %}
      <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
    {% endif %}
    
    {{ form.imagen|as_bootstrap_field }}


    <!-- AREA DE BOTONES -->
    <div class="mt-2 mb-3 text-center">

      <input class="btn btn-primary" type="submit" value="Guardar">

      <a class="btn btn-primary" href="{% url 'productos' 'crear' '0' %}"> Nuevo </a>

      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
    <button class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  

      {% if form.instance.id %}
        <a class="btn btn-primary"  href="{% url 'productos' 'eliminar' form.instance.id %}"> Eliminar </a>
      {% endif %}

    </div>

  </form>

  {% comment %} 
  
  {% if productos %} 
  
  {% endcomment %}

  <div class="instrucciones-para-el-alumno">
    INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
    - Construye tu tabla de productos, pero puedes usar los campos sugeridos. <br>
  </div>
  
    <table id="tabla-principal" class="table table-hover">
        <thead>
            <tr>
                <th> ID </th>
                <th> Categoría </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> Precio </th>
                <th> %Subs </th>
                <th> %Oferta </th>
                <th> Imagen </th>
                <th> Editar </th>
                <th> Eliminar </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                
              producto.id
              producto.categoria
              producto.nombre
              producto.descripcion
              producto.precio|formatear_dinero
              producto.descuento_subscriptor|formatear_porcentaje
              producto.descuento_oferta|formatear_porcentaje
              <td>
                  <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
              </td>
              <td>
                  <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm"> Editar </a>
              </td>
              <td>
                  <form method="delete">
                      <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                  </form>
              </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  {% comment %}     
  
  {% endif %}
  
  {% endcomment %} 

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/productos.js' %}"></script>
{% endblock script %}
